In [7]:
import pandas as pd
import numpy as np

In [2]:
input_file = "task1/data/train.csv"

In [3]:
train_df = pd.read_csv(input_file)

In [13]:
train_df.make.unique()

array(['bmw', nan, 'mercedes-benz', 'volvo', 'kia', 'honda', 'nissan',
       'toyota', 'mazda', 'ferrari', 'volkswagen', 'jaguar', 'opel',
       'mini', 'suzuki', 'porsche', 'lexus', 'lamborghini', 'audi',
       'proton', 'hyundai', 'bentley', 'citroen', 'maserati',
       'alfa romeo', 'mitsubishi', 'fiat', 'tesla', 'hino', 'skoda',
       'land rover', 'rolls-royce', 'mclaren', 'ssangyong', 'renault',
       'peugeot', 'subaru', 'isuzu', 'infiniti', 'chevrolet', 'dongfeng',
       'cupra', 'ford', 'yutong', 'golden dragon', 'dodge', 'mercedes',
       'seat', 'maxus', 'austin', 'mg', 'morris', 'perodua', 'byd',
       'rover', 'jeep', 'ud', 'aston martin', 'scania', 'international',
       'daf', 'alpine', 'daihatsu', 'lotus', 'hafei', 'chery', 'foton',
       'saab', 'hummer', 'iveco', 'riley', 'daimler', 'ruf', 'higer',
       'chrysler', 'man', 'joylong', 'mitsuoka'], dtype=object)

In [27]:
title_series = train_df.title.str.lower()
make_series = train_df.make.str.lower()

In [43]:
make_list = [make for make in make_series.unique() if not pd.isnull(make)]

In [44]:
for indx, comp in make_series.iteritems():
    if pd.isnull(comp):
        for make in make_list:
            if make in title_series[indx]:
                make_series[indx] = make

In [46]:
train_df.make = make_series

In [50]:
for model in train_df.model.unique():
    if pd.isnull(model):
        print(True)

In [51]:
train_df.make.unique()

array(['bmw', 'toyota', 'mercedes-benz', 'honda', 'volvo', 'kia',
       'hyundai', 'mg', 'nissan', 'mazda', 'ferrari', 'volkswagen',
       'jaguar', 'opel', 'mini', 'suzuki', 'porsche', 'mitsubishi',
       'lexus', 'lamborghini', 'audi', 'proton', 'bentley', 'citroen',
       'maserati', 'alfa romeo', 'fiat', 'tesla', 'hino', 'skoda',
       'land rover', 'rolls-royce', 'mclaren', 'ssangyong', 'renault',
       'peugeot', 'subaru', 'isuzu', 'seat', 'infiniti', 'chevrolet',
       'dongfeng', 'cupra', 'ford', 'yutong', 'golden dragon', 'dodge',
       'mercedes', 'maxus', 'austin', 'morris', 'perodua', 'byd', 'rover',
       'jeep', 'ud', 'aston martin', 'scania', 'international', 'daf',
       'alpine', 'daihatsu', 'lotus', 'hafei', 'chery', 'foton', 'saab',
       'hummer', 'iveco', 'man', 'riley', 'daimler', 'ruf', 'higer',
       'chrysler', 'joylong', 'mitsuoka'], dtype=object)

In [ ]:
train_df.to_csv()